<!DOCTYPE html> 
<html lang="en">
<head>
	<title>{{ page.title }}</title> 
	<link rel="stylesheet" type="text/css" href="{{ site.res_base_url }}/css/screen.css">
	<link rel="stylesheet" type="text/css" href="{{ site.res_base_url }}/css/syntax.css">
</head>
<body>
<div id="hd">
<h1>{{site.course_number}} - Spring 2012</h1>
<h2>{{site.course_name}}</h2>
	{% include nav.html %}
</div>

<div id="bd">
	{{ content }}
</div>

<div id="ft">
	{% include nav.html %}
	<p>{{site.course_number}} - {{site.course_name}} - Spring 2012</p>
	<p></p>
</div>
</div>
</body>
</html>
